<div class="app-card-container">
  <div class="card">
      
    <h1>About Me</h1>
    <p>I'm just this guy, ya know?</p>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
      </div>

      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et libero augue. Vestibulum sagittis convallis vestibulum. In consequat orci sit amet pharetra ornare. Vivamus luctus ornare interdum. Donec tempor dui eros. Vivamus eleifend odio et mauris varius, at euismod dui consequat. Proin vel enim vitae turpis faucibus consequat non et massa.</p>

        <p>Ut at erat ac lacus mollis consectetur. Donec ultricies quis velit quis aliquam. Pellentesque aliquet velit sed velit efficitur scelerisque. Aenean in laoreet libero, tincidunt maximus purus. Sed metus elit, venenatis quis diam eget, varius viverra ligula. Nullam tempor quam et felis porttitor dapibus. Suspendisse id sapien velit. Ut tristique scelerisque ante ut tempor.</p>
      </div>
    </div>
  </div>
</div>