
<div class="app-card-container">
<div class="card">
  <h1>About Me</h1>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      <div class="skills">
        <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped bg-warning"
                role="progressbar"
                aria-valuenow="<%= skill.percent_utilized %>"
                aria-valuemax="100"
                style="width: <%= skill.percent_utilized %>%"
              ></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-8">
      <p>I like to say that I'm a serial startup engineer (since 1998!) and relational database survivor. Maybe I'm just a hacker who's been around a long time!</p>
      
      <p>I have a background in language theory and mathematics, and data-centric applications have always been a natural draw. However, I'm also very right-brained, so the typical DBA role really doesn't suit me. I need to be in the thick of things. </p>

      <p>For this reason and others, I tend to gravitate towards startups, so I don't do a lot of side gigs any more. if you just want to get in touch, please reach out social media!</p>

      <p>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#jobHistory"
          aria-expanded="false"
          aria-controler="jobHistory"
        >
          Job History
        </button>

        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#education"
          aria-expanded="false"
          aria-controler="education"
        >
          Education
        </button>
      </p>

      <p>
        <div class="collapse" id="jobHistory">
          <div class="card card-block">
            2012-2018 Senior Software Developer: IHME, NXTAKE, Consultant.
          </div>
          <div class="card card-block">
            2002-2012  Database Developer: Likester, ChannelAdvisor, Searchmarketing.com.
          </div>
          <div class="card card-block">
            1998-2002  Analyst, Developer: Kiss.com, RealNetworks.
          </div>
        </div>

        <div class="collapse" id="education">
          <div class="card card-block">
            University of Washington, BA Linguistics, 1993
          </div>
          <div class="card card-block">
            University of Washington, BA Mathematics, 1993
        </div>
      </p>
    </div>
  </div>
</div>
</div>